*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #434455;
    line-height: 1, 5;
    letter-spacing: 2%;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.page-tittle {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
}


.section-tittle {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
  
}

.tittle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.club-list {
    background-color: #FFFFFF;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.club-list-item {
    background-color: #ffffff;
}

.fonts {
    background-color: #2E2F42;

}

.first-section {
    padding: 188px 0;
}

.button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF
}
.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    padding-left: 156px;
}

.box .logo-link .logo {
    color: #2e2f42;
}

.box {
    display: flex;

}
.menu {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    padding-left: 76px;


}

.menu-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    list-style-type: none;
    text-decoration: none;

}

.menu-link:hover {
    color: #404bbf;
}

.menu .menu-link:focus {
    color: #404bbf;
}



.contacts {
    background-color: #ffffff;
    font-style: normal;
    padding-left: 332px;
}

.contacts-item {
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
}

.contacts-link {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    text-decoration: none;
    text-wrap: nowrap;

}

.contacts-link:hover {
    color: #404bbf;
}

.contacts-link:focus {
    color: #404bbf;
}
.container {
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}

.container-menu {
    display: flex;
    align-items: center;
  }

.page-header {
    border-bottom: 1px solid #e7e9fc;
    display: block;
    }

.button:focus {
    background-color: #404BBF;
}

.section-fonts {
    background-color: #F4F4FD;
}

.footer-box {
    background: #2e2f42;
    width: 1440;
    height: 312;
    padding: 100px 0;
    margin: 120px 0;
}

.footer-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    list-style-type: none;
    text-decoration: none;

}

.footer-box .footer-link .logo {
    color: #f4f4fd;
}

.container-footer {

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.tittle-container {
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;

}

.second-section {
   padding-top: 120px;
   padding-bottom: 120px;
   display: block;
}

.container-second-section {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    
}